@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 16px;
  font-weight: 400;
}

@media all and (min-width: 1024px) {
  html {
    font-size: var(--rem);
  }
}

svg {
  max-width: 100%;
  width: 100%;
}
.svg_icon svg path {
  fill: currentcolor;
}

.primary-nav li ul li {
  .arrow-1 {
    transform: rotate(-90deg) translateY(0);
  }
  .arrow-2 {
    transform: rotate(-90deg) translateY(-2rem);
  }
  &:hover {
    .arrow-1 {
      opacity: 0;
      transform: rotate(-90deg) translateY(2rem);
    }
    .arrow-2 {
      opacity: 1;
      transform: rotate(-90deg) translateY(0);
    }
  }
}

.mobile-header {
  .nav {
    .nav-btn {
      display: flex;
      flex-flow: column;
      align-items: center;
      position: relative;
      cursor: pointer;
      flex: 0;
      padding: 5px;
    }
    .nav-btn .btn-bar {
      position: relative;
      width: 1.34em;
      height: 3px;
      border-radius: 5px;
      background: #444;
    }
    .nav-btn .btn-bar.menu:not(:first-child) {
      margin-top: 3px;
    }
    .nav-btn .btn-bar.close {
      transform-origin: center center;
      position: absolute;
      margin-top: -1.5px;
      opacity: 0;
      top: 50%;
    }
    .btn-bar.menu:nth-child(even) {
      width: 1.8em;
    }
    .btn-bar.close:not(:last-child) {
      transform: rotate(45deg) translateX(-250%);
    }
    .btn-bar.close:last-child {
      transform: rotate(-45deg) translateX(250%);
    }
    .btn-bar.menu {
      transition: transform 0.3s ease-in-out 0.2s,
        opacity 0.15s ease-in-out 0.2s;
    }
    .btn-bar.close {
      transition: transform 0.2s ease-in-out, opacity 0.05s ease-in-out 0.2s;
    }
    &.open .nav-btn .btn-bar.menu {
      opacity: 0;
    }
    &.open .nav-btn .btn-bar.close {
      opacity: 1;
    }
    &.open .nav-btn .btn-bar.menu:nth-child(odd) {
      transform: translateX(-400%);
    }
    &.open .nav-btn .btn-bar.menu:nth-child(even) {
      transform: translateX(200%);
    }
    &.open .nav-btn .btn-bar.close:not(:last-child) {
      transform: rotate(45deg);
    }
    &.open .nav-btn .btn-bar.close:last-child {
      transform: rotate(-45deg);
    }
    &.open .btn-bar.menu {
      transition: transform 0.3s ease-in-out, opacity 0.15s ease-in-out 0.15s;
    }
    &.open .btn-bar.close {
      transition: transform 0.2s ease-in-out 0.3s,
        opacity 0.05s ease-in-out 0.3s;
    }
  }
}

// Careers Page Table Custom Scrollbar
.careers-table-scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    // background-color: #7E3F7E;
    background-color: #b490ee;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px #b490ee;
    background-color: #7e3f7e;
    border-radius: 20px;
    transition: all 0.2s;
    &:hover {
      background-color: #9e5e9e;
    }
  }
}

footer {
  input[type='checkbox'] {
    position: relative;
    border: 2px solid #fff;
    border-radius: 2px;
    background: none;
    cursor: pointer;
    line-height: 0;
    margin: 0;
    outline: 0;
    padding: 0 !important;
    vertical-align: text-top;
    height: 2rem;
    width: 2rem;
    -webkit-appearance: none;
    &:before {
      content: '';
      position: absolute;
      right: 50%;
      top: 50%;
      width: 4px;
      height: 10px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      margin: -1px 0px 0 0px;
      transform: rotate(45deg) translate(-50%, -50%);
      z-index: 2;
      opacity: 0;
    }
    &:checked::before {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1023px) {
  footer {
    input[type='checkbox'] {
      border: 2px solid #fff;
      height: 20px;
      width: 20px;
    }
  }
}

#gradient-canvas {
  --gradient-color-1: #8255d1;
  --gradient-color-2: #875ad2;
  --gradient-color-3: #8052ce;
  --gradient-color-4: #9366d9;
}

#footer-gradient-canvas {
  --gradient-color-1: #6543a3;
  --gradient-color-2: #7e366a;
  --gradient-color-3: #734597;
  --gradient-color-4: #7f3f7d;
}

// @media screen and (min-width: 480px) and (max-width: 1023px) {
//   html {
//     font-size: 10px;
//   }
// }

// @media screen and (min-width: 1024px) and (max-width: 1440px) {
//   html {
//     font-size: calc(100vw / 1440 * 10);
//   }
// }

// @media screen and (min-width: 1441px) {
//   html {
//     font-size: calc(100vw / 1920 * 10);
//   }
// }

// h1 {
//   font-size: clamp(2rem, 4.65vw, 12rem);
// }

.white-gradient-box {
  background: url(/images/dap-bg-noise-20.png),
    linear-gradient(
      250.64deg,
      rgba(255, 255, 255, 0.36) -39.08%,
      rgba(255, 255, 255, 0) 107.65%
    ),
    linear-gradient(
      109.32deg,
      rgba(255, 255, 255, 0.24) -3.98%,
      rgba(255, 255, 255, 0.54) 51.7%,
      rgba(255, 255, 255, 0.1) 108.56%
    );
  background-blend-mode: overlay, normal, normal;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.3);
}

.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
